<h2>
  Database
</h2>

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<h3>
Current Month
</h3>
<p>This table includes the statistics for the current month for each person.
</p>

<table style="width:100%">
  <tr>
    <th>Member</th>
    <th>Referrals Sent</th>
    <th>Referrals Recieved</th>
    <th>Absences</th>
    <th>Monthly Income</th>
    <th>Quarterly Income</th>
    <th>Yearly Income</th>
  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
  </tr>
</table>

<h3>
  Activity
</h3>
<p>
  This table includes a history of each form submitted chronologically.
</p>

<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Form Type</th>
    <th>Sender</th>
    <th>Recipient</th>
    <th>Client</th>
    <th>Income</th>
    <th>Other Members</th>
  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
    <td>test</td>
  </tr>
</table>
