@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
@using System.Security.Claims;

@if (!User.Identities.Any(u => u.IsAuthenticated))
{

<div style="text-align:center">
    <br />
    <h1>
        The Rising Phoenix Referral Tracker
    </h1>
    <br />
    <p>
        The Rising Phoenix is a group of business professionals seeking to expand their businesses through networking.<br />
        This tracker is designed to document referals and track the success of The Rising Phoenix.
    </p>
    <br />
    <h3>
        Login
    </h3>
    <br />
    <form action="/action_page.php">
        Username: <input type="text" name="username"><br><br>
        Password: <input type="text" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
</div>

}
else
{
    <h1>Hello @User.Identities.First(
                  u => u.IsAuthenticated && 
                       u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value</h1>
}