
<!--
<div class='main-nav'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">Login</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a href="Members">Members</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a href="Forms">Forms</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin']">Admin</a>
                </li>
            </ul>
        </div>-->