<div style="text-align:center">
  <h2>
    Referral Slip
  </h2>

  <form>
    Date: <input type="date"><br>
    From: <input type="text"><br>
    To: <input type="text"><br><br>
    Referral: <input type="text"><br>
    Address: <input type="text">Phone<input type="text"><br>
    City: <input type="text">
    State: <input type="text">
    Zip: <input type="text"><br>
    Email Address: <input type="email"><br>
    <input type="checkbox">Given your card<br>
    <input type="checkbox">Told them you would call <br>
    <input type="checkbox" value="Other">other<br>
    <input type="submit">

  </form>
</div>
