<!--test
<h3>Components within referralcomponent</h3>
{{ referrals | json}}
<app-referrallist></app-referrallist>
<app-referralnew></app-referralnew>
<app-referraldetails></app-referraldetails>
-->


<!--Page Content (not test)-->
<div style="text-align:center">
  <h2>
    Referral Slip
  </h2>

    <!-- Property binding of text boxes to data fields-->
    <div>
      <label>Date: </label>
      <input [(ngModel)]="referral.FormDate" placeholder="Date">
    </div>
    <div>
      <label>Sender: </label>
      <input [(ngModel)]="referral.SenderID" placeholder="Sender">
    </div>
    <div>
      <label>Recipient: </label>
      <input [(ngModel)]="referral.RecipientID" placeholder="Recipient">
    </div>
    <div>
      <label>Client Name: </label>
      <input [(ngModel)]="referral.ClientID" placeholder="Client">
    </div>
    <div>
      <label>Client Information: </label>
      <input [(ngModel)]="referral.SenderMsg" placeholder="Phone, Email, Address, etc.">
    </div>

</div>
