form {
    background: -webkit-linear-gradient(bottom, #F5A60E, #F5A60E 175px);
    background: -moz-linear-gradient(bottom, #F5A60E, #F5A60E 175px);
    background: linear-gradient(bottom, #F5A60E, #F5A60E 175px);
    margin: auto;
    position: relative;
    width: 450px;
    height: 150px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #F5A60E;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #F5A60E;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    input

{
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

textarea#feedback {
    width: 375px;
    height: 150px;
    display: block;
}

}

img {
    height: 100px;
    width: 100px;
    -o-object-fit: contain;
}

.column {
    padding: 10px;
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
