<div style="text-align:center">
  <h2>
    Forms
  </h2>

  <div class="row" style="width:75%">
    <div class="column">
      <img src="https://image.flaticon.com/icons/svg/149/149399.svg" /><br />
        <a href="Referrals" target="_blank">Referral</a>
      <p>For informing another member that you referred a client to their business.</p><br />
    </div>

    <div class="column">
      <img src="https://image.flaticon.com/icons/svg/134/134584.svg" /><br />
        <a href="HTMoneys" target="_blank">Here's the Money!</a>
      <p>For crediting the member who gave you a referral that resulted in closed business.</p><br />
    </div>

    <div class="column">
      <img src="https://image.flaticon.com/icons/svg/281/281428.svg" /><br />
        <a href="Face2faces" target="_blank">Face 2 Face</a>
      <p>For recording networking activities outside of regular meetings.</p><br />
    </div>

  </div>
</div>





