@model RisingPhoenix.Models.Face2Faces

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Face2Faces</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormId" />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetId1" class="control-label"></label>
                <select asp-for="MetId1" class="form-control" asp-items="ViewBag.MetId1"></select>
                <span asp-validation-for="MetId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetId2" class="control-label"></label>
                <select asp-for="MetId2" class="form-control" asp-items="ViewBag.MetId2"></select>
                <span asp-validation-for="MetId2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetId3" class="control-label"></label>
                <select asp-for="MetId3" class="form-control" asp-items="ViewBag.MetId3"></select>
                <span asp-validation-for="MetId3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetId4" class="control-label"></label>
                <select asp-for="MetId4" class="form-control" asp-items="ViewBag.MetId4"></select>
                <span asp-validation-for="MetId4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
