<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RisingPhoenix</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>

    <div style="text-align:center;">
        <img src="http://www.thephoenixhasrisen.com/wp-content/uploads/2015/11/Screen-Shot-2015-11-18-at-4.52.36-PM.png" />


        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Members">Members</a></li>
            <li><a href="Forms">Forms</a></li>
            <li><a href="Forms/CreateRS">Referral Slip</a></li>
            <li><a href="Forms/CreateHTM">Here's The Money</a></li>
            <li><a href="Forms/CreateF2F">Face To Face</a></li>
            <li><a href="Meetings">Meetings</a></li>
        </ul>
    </div>

    @RenderBody()

    @RenderSection("scripts", required: false)

    <div style="text-align:center;">
        <p><em>CMPS 285 Software Engineering: Group 5 - Allie Laughlin, Sara Roberts, Victoria Murphy: 2017</em></p>
    </div>
</body>
</html>


<style>
    li {
        display: inline;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: gold;
        text-align: center;
        width: 100%;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

li a:hover {
        background-color: goldenrod;
    }

    body.custom-font-enabled {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
</style>
<style>
    /*Victoria's CSS for the tables*/
    table, th, td {
        table-layout: auto;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: whitesmoke
    }

    tr:nth-child(odd) {
        background-color: white
    }

    th {
        background-color: gold;
        color: black;
    }

    tr:hover {
        background-color: gainsboro
    }
</style>