<style > table, th, td {
   table-layout: auto;  
  border: 1px solid black;
    
}

tr:nth-child(even) {
    background-color: gold
}

tr:nth-child(odd) {
    background-color: khaki
}

th {
    background-color: orange;
    color: black;
}

tr:hover {
    background-color: goldenrod
}
