<h2>
  Here's The Money!
</h2>

<form>
  Date: <input type="date"><br>
  Amount of income recieved: <input type="text"><br>
  Name of person who referred you the business: <input type="text"><br><br>

  Please check wich applies to person who referred you the business:<br>
  <input type="checkbox">The Rising Phoenix Member<br>
  <input type="checkbox">The Rising Phoenix Alumni<br>
  <input type="checkbox">Visitor<br>
  <input type="checkbox">Substitute<br>
  <input type="submit"><br>


</form>
