@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>
    Login
</h2>
<br />
<form asp-controller="Members" asp-action="Login" method="post">
    Username: <input type="text" name="Username" id="Username"><br><br>
    Password: <input type="password" name="Password" id="Password"><br><br>
    <input type="submit" value="Login">
</form>